.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @include responsive(tablet-p) {
    padding: 3rem 5rem;
  }
  
  &__logo {
    flex-grow: 1;

    @include responsive(tablet-p) {
      flex-grow: 3;
    }
  }

  &__user {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__search {
    width: 100%;
    margin-top: 1rem;
  }
}