.notification-icon {
  color: $color-grey-dark-2;
  position: relative;
  display: inline-block;

  @include responsive(laptop) {
    margin-right: 2.5rem;

  }

  &__icon {
    font-size: 2.5rem;
  }

  &__number-box {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: -.5rem;
    width: 1.75rem;
    height: 1.75rem;
    background-color: $color-primary;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-white;
  }

  &__number {
    $number-size: 1rem;
  }
}
