.info-title {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;

  &__left {
    // flex-grow: 2;
    padding: 1rem;

    @include responsive(tablet-p) {
      padding: 2rem 5rem;
    }

    @include responsive(laptop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      padding: 1.2rem 2rem;
    }
  }
  
  &__title {
    text-transform: uppercase;
    font-weight: 300;
    color: $color-grey-dark-1;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  &__star-rating {
    font-size: 1.8rem;
    color: $color-primary;
    display: flex;

    @include responsive(laptop) {
      flex-grow: 1;
      padding-left: 2rem;
      font-size: 1.6rem;
    }
  }

  &__star-box {
    margin: .2rem;
  }

  &__location-box {
    color: $color-primary;
    text-transform: capitalize;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__location-text {
    border-bottom: 1px solid $color-primary;
    margin-left: .5rem;
  }

  &__number-rating-box {
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 1.5rem;
    // flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsive(laptop) {
      padding: 1.2rem 1.5rem;
    }
  }

  &__rating {
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__votes {
    font-size: 1.5rem;
    font-weight: 400;

    @include responsive(laptop) {
      font-size: 1.3rem;
    }
  }


}