.image-gallery {
  background-color: $color-white;
  display: flex;
  flex-direction: row;

  &__img {
    padding: 1rem;
    width: 33.3333%;

    @include responsive(tablet-p) {
      padding: 2rem;
    }

    @include responsive(laptop) {
      padding: 0;
    }

  }
}