.image-gallery {
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &__img {
    padding: 1rem;
    width: 100%;

    @include responsive(phone-l) {
      padding: 0;
      width: 33.3333%;
    }

  }
}