/* UNIVERSAL RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%
  
  @include responsive(desktop) {
    font-size: 68.75%; //1rem = 11px
  }
}

body {
  box-sizing: border-box;
  color: $color-grey-dark-2;
  font-family: "Open Sans", sans-serif;

  @include responsive(laptop) {
    background-color: $color-primary;
    // padding: 8rem 6rem;
  }
}
