.card {
  font-size: 1.4rem;
  background-color: $color-white;

  &__box {
    padding: 2.5rem 0;
    border-bottom: 1px solid #f4f2f2;
    margin: 0 3rem;
  }

  &__info--2 {
    margin-top: 2rem;
  }


  &__perks {
    list-style-type: none;
    padding-left: none;

    & li {
      display: flex;
      align-items: center;
    }

    & li::before { 
      content: '\203A'; 
      color: $color-primary;
      font-weight: 300;
      font-size: 2rem;
      margin-right: 1rem; 
    }
  }

  &__recommend-box {
    display: flex;
    align-items: center;
    position: relative;
    // padding: 2rem 3rem;
  }

  &__users {
    display: flex;
    position: relative;
    right: 1rem;
  }

  &__user {
    box-sizing: content-box;
    margin-right: -3rem;
  }

  
}

