.searchbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color-grey-light-2;
  border-radius: 2rem;
  overflow: hidden;

  @include responsive(laptop) {
    justify-content: space-between;
  }


  &__input, &__submit-button {
    padding: 1rem;
    border: none;
    background-color: $color-grey-light-2;
    font-size: 1.6rem;

    &, &:focus {
      outline: none;
      caret-color: $color-primary;
    }

    @include responsive(laptop) {
      padding: .8rem 2rem;
      font-size: 1.4rem;
    }
  }

  &__input {
    transition: .5s;
    &:focus {
      flex-grow: 1;
    }

    @include responsive(laptop) {
      width: 100%;
    } 
  }

  &__submit-button {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

}