.footer {
  padding: 3.5rem 3rem;
  text-align: center;
  background-color: $color-grey-light-2;
  // color: $color-grey-dark-2;

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 auto;
    // line-height: 1.5;
  }
}