.avatar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__img-box {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
    border: .5rem solid $color-white;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 1.5rem;
    margin-left: 1rem;

    @include responsive(laptop) {
      font-size: 1.4rem;
    }
  }
}